@use "@coursehub/ui/mixins" as ui;
.card {
    @include ui.typography;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--ch-yellow);
    color: var(--ch-ink);
    width: 150px;
    height: 112px;
    strong {
        font-size: 1.8rem;
    }
    span {
        font-size: 1.4rem;
    }
}
@include ui.below(mobile) {
    .card {
        width: 110px;
        height: 95px;
        strong {
            font-size: 1.4rem;
        }
        span {
            font-size: 1.1rem;
        }
    }
}
@media (max-width: 360px) {
    .card {
        width: 90px;
        height: 85px;
    }
}
